<div class="intileSignUp">
  <div class="row">
    <div class="EligibilityHeader">
      <div class="col-md-6"> <img src="/gladstone/portal/bloom/app/assets/image/headingIcon.png" /> </div>
      <div class="col-md-6" align="right">
        <p>Confirmed. Nice work!</p>
      </div>
    </div>
  </div>
  <h1 class="heading">What happens next</h1>
  <div class="WhatHappensNext">
    <p><span><img src="/gladstone/portal/bloom/app/assets/image/iconSignUpProcess1.png" /></span>First, we&rsquo;ll make sure all of your details are in order and matching our records.</p>
    <p><span><img src="/gladstone/portal/bloom/app/assets/image/iconSignUpProcess2.png" /></span>After we&rsquo;ve confirmed your prescription we&rsquo;ll ship your supplies and send you a
      confirmation email.</p>
    <p ng-if ="healthCoaching" ><span><img src="/gladstone/portal/bloom/app/assets/image/iconSignUpProcess3.png" /></span>We&rsquo;ll contact you to set up an appointment with your health coach and set goals.</p>
    <p class="link inboxTxt">Check your inbox for a link to create your Kannact account and get started.</p>
  </div>
  <div class="next"> <a href="http://www.kannact.com" target="_blank">LEARN MORE AT KANNACT.COM <span><img src="/gladstone/portal/bloom/app/assets/image/arrow-color.png" /></span></a> </div>
</div>
